<!DOCTYPE html>
<html lang="en">
<head>
  <title>AR With IOT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">AR With IoT</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </div>
    </nav>

<div class="container">
  <h2>Register User</h2>
  <p>Register through Ethereum Blockchain Network</p>
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <form action="/indexdata" method="post">
        <div class="form-group">
            <label>Enter Username:</label>
            <input type="text" class="form-control" name="username" required />
        </div>
        <div class="form-group">
            <label>Enter Password:</label>
            <input type="password" class="form-control" name="password" required />
        </div>
        <button type="submit" class="btn btn-danger">Register Account</button>
    </form>
    <span style="color:green">{{res}}</span>
    <span style="color:red">{{err}}</span>
    
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>